

body {
  background-color: #73b1e7;
  font-family: 'Zen Kurenaido', sans-serif;
  font-family: 'Zen Maru Gothic', sans-serif;
  padding-top: 55px;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 1px 15px -4px #777777;
  border-radius: 8px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: rgb(19,56,247);
  background: linear-gradient(90deg, rgba(19,56,247,1) 0%, rgba(0,203,217,1) 100%);
  border-radius: 10px 10px 0 0;
  color: white;
}

.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid rgba(67, 63, 63, 0.443);
}

.taskTitle {
  display: flex;
  align-items: center;
}

.taskCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border-radius: 50%;
  margin-right: 20px;
}

.taskInCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: #595959;
  border-radius: 50%;
  margin-right: 20px;
}

.loginAndLogout {
  padding: 20px;
}

.loginAndLogout a {
  color: lightcoral;
}

.editButton {
  color: lightseagreen;
}

.deleteButton {
  color: red;
}

/* タスク検索と追加のフォーム */
.searchWrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.searchInput {
  height: 24px;
  outline: none;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 2px 4px;
  width: 160px !important;
}

.searchButton {
  border: 1px solid lightseagreen;
  padding: 4px 10px;
  background-color: #fafafa;
  color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.searchButton:hover {
  background-color: lightseagreen;
  color: white;
}

.addButton {
  font-size: 32px;
  color: lightseagreen;
}

label {
  display: block;
}

input[type="text"],textarea {
  width: 100%;
}

.deleteButton {
  border: 1px solid lightcoral;
  padding: 4px 10px;
  background-color: #fafafa;
  color: lightcoral;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.deleteButton:hover {
  background-color: lightcoral;
  color: white;
}

.loginButton {
  border: 1px solid lightseagreen;
  padding: 4px 10px;
  background-color: #fafafa;
  color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.loginButton:hover {
  background-color: lightseagreen;
  color: white;
}

.accountWrapper {
  padding: 10px 20px 20px 20px;
}

.accountWrapper p {
  margin: 0;
  padding: 0;
}

.registerButton {
  border: 1px solid lightseagreen;
  padding: 4px 10px;
  background-color: #fafafa;
  color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.registerButton:hover {
  background-color: lightseagreen;
  color: white;
}